{% extends 'base.html' %}

{% block content %}
<script>
    function updateMajors() {
        const pd = document.getElementById("pDepartment").value;
        const majorDropdown = document.getElementById("pMajor");

        const majors = {
            "فنی و مهندسی": ["مهندسی برق", "مهندسی کامپیوتر", "مهندسی عمران", "مهندسی مکانیک"],
            "علوم پایه": ["ریاضیات", "فیزیک", "شیمی", "زیست‌شناسی"],
            "دامپزشکی": ["دامپزشکی عمومی", "تخصصی"],
            "ادبیات و اقتصاد": ["ادبیات فارسی", "علوم اقتصادی", "مدیریت"]
        };

        // Clear existing options
        majorDropdown.innerHTML = "<option value='' disabled selected>انتخاب کنید</option>";

        // Populate with options based on selected college
        if (pd && majors[pd]) {
            majors[pd].forEach(function(maj) {
                const option = document.createElement("option");
                option.value = maj;
                option.text = maj;
                majorDropdown.add(option);
            });
        }
    }

    // Call the function when the page loads
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('pDepartment').addEventListener('change', updateMajors);
    });

    function validateForm() {
        var postal_code = document.getElementById("pPostalCode").value;
        var phone_number = document.getElementById("pCPhone").value;
        var national_id = document.getElementById("pID").value;

        var errorField2 = document.getElementById("error-message2");
        var errorField3 = document.getElementById("error-message3");
        var errorField4 = document.getElementById("error-message4");

        var valid = true;

        if (postal_code.length !== 10) {
            errorField2.innerHTML = "کد پستی باید 10 رقم باشد.";
            valid = false;
        } else {
            errorField2.innerHTML = "";
        }

        if (phone_number.length !== 11) {
            errorField3.innerHTML = "شماره تلفن باید 11 رقم باشد.";
            valid = false;
        } else {
            errorField3.innerHTML = "";
        }

        if (national_id.length !== 10) {
            errorField4.innerHTML = "کد ملی باید 10 رقم باشد.";
            valid = false;
        } else {
            errorField4.innerHTML = "";
        }

        return valid;
    }
</script>
<form action="/add_professor" method="post" onsubmit="return validateForm()"> 
    <div class="mb-3">
        <label>کد استاد:</label>
        <input type="text" name="pPID" placeholder="کد استاد" class="form-control" maxlength="6" required autocomplete="off"/>
    </div>
    <div class="mb-3">
        <label>نام:</label>
        <input type="text" name="pFName" placeholder="نام" class="form-control" maxlength="10" required autocomplete="off"/>
    </div> 
    <div class="mb-3">
        <label>نام خانوادگی:</label>
        <input type="text" name="pLName" placeholder="نام خانوادگی" class="form-control" maxlength="10" required autocomplete="off"/>
    </div> 
    <div class="mb-3">
        <label>تاریخ تولد:</label>
        <input type="text" name="pBirth" placeholder="روز/ماه/سال" class="form-control" required autocomplete="off" maxlength="10"/>
    </div> 
    <div class="mb-3">
        <label>شهر تولد:</label>
        <select id="pBornCity" name="pBornCity" required autocomplete="off" class="form-control">
            <option value="" disabled selected>انتخاب کنید</option>
            <option value="آبادان">آبادان</option>
            <option value="اراک">اراک</option>
            <option value="اصفهان">اصفهان</option>
            <option value="اهواز">اهواز</option>
            <option value="ایلام">ایلام</option>
            <option value="بابل">بابل</option>
            <option value="بجنورد">بجنورد</option>
            <option value="بندرعباس">بندرعباس</option>
            <option value="بندرانزلی">بندرانزلی</option>
            <option value="بوشهر">بوشهر</option>
            <option value="پارس‌آباد">پارس‌آباد</option>
            <option value="پارسیان">پارسیان</option>
            <option value="پلدختر">پلدختر</option>
            <option value="پیشوا">پیشوا</option>
            <option value="تبریز">تبریز</option>
            <option value="تهران">تهران</option>
            <option value="جیرفت">جیرفت</option>
            <option value="خرم‌آباد">خرم‌آباد</option>
            <option value="رشت">رشت</option>
            <option value="زاهدان">زاهدان</option>
            <option value="زنجان">زنجان</option>
            <option value="ساوه">ساوه</option>
            <option value="سنندج">سنندج</option>
            <option value="سبزوار">سبزوار</option>
            <option value="سمنان">سمنان</option>
            <option value="شهرکرد">شهرکرد</option>
            <option value="شیراز">شیراز</option>
            <option value="قزوین">قزوین</option>
            <option value="قم">قم</option>
            <option value="کرج">کرج</option>
            <option value="کرمان">کرمان</option>
            <option value="کرمانشاه">کرمانشاه</option>
            <option value="کاشان">کاشان</option>
            <option value="کاشمر">کاشمر</option>
            <option value="گرگان">گرگان</option>
            <option value="گلستان">گلستان</option>
            <option value="مازندران">مازندران</option>
            <option value="مشهد">مشهد</option>
            <option value="مهران">مهران</option>
            <option value="مهریز">مهریز</option>
            <option value="میبد">میبد</option>
            <option value="نی‌ریز">نی‌ریز</option>
            <option value="نجف‌آباد">نجف‌آباد</option>
            <option value="نهران">نهران</option>
            <option value="نیشابور">نیشابور</option>
            <option value="همدان">همدان</option>
            <option value="یاسوج">یاسوج</option>
            <option value="یزد">یزد</option>
        </select>
    </div>
    <div class="mb-3">
        <label>آدرس:</label>
        <input type="text" name="pAddress" placeholder="آدرس" class="form-control" required autocomplete="off" maxlength="100"/>
    </div> 
    <div class="mb-3">
        <label>کد پستی:</label>
        <input type="text" id="pPostalCode" name="pPostalCode" placeholder="کد پستی" class="form-control" required autocomplete="off" maxlength="10"/>
        <span id="error-message2" style="color: red;"></span>
    </div> 
    <div class="mb-3">
        <label>تلفن همراه:</label>
        <input type="text" id="pCPhone" name="pCPhone" placeholder="تلفن همراه" class="form-control" required autocomplete="off" maxlength="11"/>
        <span id="error-message3" style="color: red;"></span>
    </div> 
    <div class="mb-3">
        <label>تلفن ثابت:</label>
        <input type="text" id="pHPhone" name="pHPhone" placeholder="تلفن ثابت" class="form-control" autocomplete="off" maxlength="8"/>
    </div>
    <div class="mb-3">
        <label>دانشکده:</label>
        <select id="pDepartment" name="pDepartment" class="form-control" required autocomplete="off">
            <option value="" disabled selected>انتخاب کنید</option>
            <option value="فنی و مهندسی">فنی و مهندسی</option>
            <option value="علوم پایه">علوم پایه</option>
            <option value="دامپزشکی">دامپزشکی</option>
            <option value="ادبیات و اقتصاد">ادبیات و اقتصاد</option>
        </select>
    </div> 
    <div class="mb-3">
        <label>رشته:</label>
        <select id="pMajor" name="pMajor" class="form-control" required autocomplete="off">
            <option value="" disabled selected>انتخاب کنید</option>
        </select>
    </div> 
    <div class="mb-3">
        <label>کد ملی:</label>
        <input type="text" id="pID" name="pID" placeholder="کد ملی" class="form-control" required autocomplete="off" maxlength="10"/>
        <span id="error-message4" style="color: red;"></span>
    </div> 
    <div class="mb-3">
        <label>درس‌ها:</label>
        <select id="pPCourseIDs" name="pPCourseIDs" class="form-control" required autocomplete="off">
            <option value="" disabled selected>انتخاب از دروس</option>
            {% for course in courses %}
                <option value="{{ CourseBase.cCID }}">{{ CourseBase.cCName }}</option>
            {% endfor %}
        </select>
    </div>
    
    <input type="submit" value="ثبت" class="btn btn-primary mb-3" />  
    <a href="/home" class="btn btn-primary mb-3">خانه</a>
</form>  
{% endblock content %}
